<launch>

    <!-- Enable custom logger configuration-->
    <env name="ROS_PYTHON_LOG_CONFIG_FILE" value="$(find rhbp_workspace)/launch/python_logging.conf"/>

    <include file="$(find knowledge_base)/launch/knowledge_base_node.launch">
    </include>

    <include file="$(find mapc_ros_bridge)/launch/mapc_ros_bridge.launch">
        <arg name="agent_name" value="agentA1" />
    </include>
    <include file="$(find rhbp_workspace)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="agentA1" />
    </include>

    <include file="$(find mapc_ros_bridge)/launch/mapc_ros_bridge.launch">
        <arg name="agent_name" value="agentA2" />
    </include>
    <include file="$(find rhbp_workspace)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="agentA2" />
    </include>

    <include file="$(find mapc_ros_bridge)/launch/mapc_ros_bridge.launch">
        <arg name="agent_name" value="agentA3" />
    </include>
    <include file="$(find rhbp_workspace)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="agentA3" />
    </include>

    <include file="$(find mapc_ros_bridge)/launch/mapc_ros_bridge.launch">
        <arg name="agent_name" value="agentA4" />
    </include>
    <include file="$(find rhbp_workspace)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="agentA4" />
    </include>

    <!-- <include file="$(find mapc_ros_bridge)/launch/mapc_ros_bridge.launch">
        <arg name="agent_name" value="agentA5" />
    </include>
    <include file="$(find rhbp_workspace)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="agentA5" />
    </include>

    <include file="$(find mapc_ros_bridge)/launch/mapc_ros_bridge.launch">
        <arg name="agent_name" value="agentA6" />
    </include>
    <include file="$(find rhbp_workspace)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="agentA6" />
    </include>

    <include file="$(find mapc_ros_bridge)/launch/mapc_ros_bridge.launch">
        <arg name="agent_name" value="agentA7" />
    </include>
    <include file="$(find rhbp_workspace)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="agentA7" />
    </include>

    <include file="$(find mapc_ros_bridge)/launch/mapc_ros_bridge.launch">
        <arg name="agent_name" value="agentA8" />
    </include>
    <include file="$(find rhbp_workspace)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="agentA8" />
    </include>

    <include file="$(find mapc_ros_bridge)/launch/mapc_ros_bridge.launch">
        <arg name="agent_name" value="agentA9" />
    </include>
    <include file="$(find rhbp_workspace)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="agentA9" />
    </include>

    <include file="$(find mapc_ros_bridge)/launch/mapc_ros_bridge.launch">
        <arg name="agent_name" value="agentA10" />
    </include>
    <include file="$(find rhbp_workspace)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="agentA10" />
    </include> -->

</launch>
